.loading-popup {
    display: flex;

    align-items: center;
    gap: 2rem;

    font-size: 1rem;
    font-weight: 600;

    padding: 1rem 5rem;

    background-color: var(--background-color);
    border-radius: 1em;
    /* color: var(--primary-color); */
}

.application-card {
    display: flex;
    flex-direction: column;
}
