.input-container {
    position: relative;

    display: flex;
    align-items: center;

    height: 3em;
    min-height: 3em;
    border-radius: 0.5em;

    padding: 0.5em;

    box-sizing: border-box;

    outline: 0px solid var(--border-color-light);

    border: 1px solid;
    border-color: var(--border-color-light);
    transition: 0.15s linear;
    /* margin: 1px; */
}

.input-error,
.input-error .input-label {
    border-color: var(--error-color) !important;
    color: var(--error-color) !important;
    outline-color: var(--error-color) !important;
}

.input-main {
    position: absolute;
    box-sizing: border-box;
    height: 2em;

    left: 0.5em;

    width: calc(100% - 1em);

    flex: 1;

    display: flex;
    align-items: center;
    transition: 0.15s linear;
}

/* .input-main:has(.input-input:focus) {
    width: calc(100% - 1em - 2px);
    left: calc(0.5em - 1px);
} */

.input-input {
    border: none;
    outline: none;
    background-color: transparent;

    flex: 1;
    padding: 0;

    z-index: 1;

    font-family: "SF Pro Display", sans-serif;
    font-size: 16px;

    transition: 0.15s ease-in-out;
}

.input-input:focus,
.input-input:not(:placeholder-shown) {
    transform: translateY(0.5em);
}

.input-input:focus::placeholder {
    opacity: 1;
}

.input-label {
    position: absolute;
    left: 0;

    color: var(--border-color-light);

    transition: 0.15s ease-in-out;
}

.input-input:focus ~ .input-label,
.input-input:not(:placeholder-shown) ~ .input-label {
    /* color: var(--primary-color); */
    transform: translateY(-0.8em);
    font-size: 12px;
}

.input-input::placeholder {
    opacity: 0;
    transition: 0.15s;
    color: var(--border-color);
}

.input-container:has(.input-input:focus) {
    border-color: var(--primary-color);
}

.input-container.focus-outline:has(.input-input:focus) {
    outline-color: var(--primary-color);
    outline-width: 1px;
}

.outlined:has(.input-input:focus) {
    outline-color: var(--primary-transparent-color);
    outline-width: 3px;
    /* outline-style: solid; */
}

.outlined:has(.input-input:focus).input-error {
    outline-color: var(--error-transparent-color) !important;
}

.glow:has(.input-input:focus) {
    box-shadow: 0 0 4px 0 var(--primary-color);
}

.glow:has(.input-input:focus).input-error {
    box-shadow: 0 0 4px 0 var(--error-color);
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.input-top-label {
    font-size: 12px;
    color: var(--border-color-light);
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    /* text-indent: 1em; */
}

.input-error-text {
    text-align: left;
    font-size: small;
    color: var(--error-color);
}

.input-supporting-text {
    text-align: left;
    font-size: small;
    color: var(--border-color-light);
}
