.checkbox {
    /* position: relative; */

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;

    width: 1em;
    height: 1em;

    border: 2px solid var(--border-color-light);
    color: var(--border-color-light);

    border-radius: 0.4em;
}

.checkbox.active {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: white;
}

.checkbox-icon {
    scale: 0;
}

.checkbox-icon.active {
    scale: 1;
}
