.checkbox {
    /* position: relative; */

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;

    width: 1em;
    height: 1em;

    border: 2px solid var(--border-color-light);
    color: var(--border-color-light);

    border-radius: 0.4em;
    transition: 0.2s;
}

.checkbox.active {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: white;
}

.checkbox-icon {
    scale: 0;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox-icon.active {
    scale: 1;
}
