.dropdown-item {
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    min-height: 35px;
    max-height: 35px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.dropdown-item::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    content: "";

    background-color: white;
    opacity: 0;
    transition: 0.1s;
}

.dropdown-item:hover::after {
    opacity: 0.12;
}

.dropdown-item:active::after {
    opacity: 0.12;
    background-color: black;
}
