#root {
    text-align: center;

    display: flex;
    flex-direction: column;

    gap: 1rem;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-image: url("./assets/wallpapers/iPadOS_wallpaper.png");
    background-size: cover;
    background-blend-mode: multiply;
    /* position: fixed; */
    /* background-color: rgba(37, 37, 37, 0.82); */
    /* backdrop-filter: blur(8px); */
    /* z-index: -2; */
}

p {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", sans-serif;
    word-spacing: -0.1rem;
    letter-spacing: -0.01rem;
    text-align: left;
}

.paragraph {
    font-family: "SF Pro Text", sans-serif;
    word-spacing: -0.1rem;
    letter-spacing: -0.01rem;
}

#app {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    /* background-color: rgba(37, 37, 37, 0.82); */
    /* backdrop-filter: blur(50px); */
}

* {
    --primary-color: #0a84ff;
    --primary-transparent-color: rgba(10, 132, 255, 0.12);

    --secondary-color: #bf5af2;
    --secondary-transparent-color: rgba(191, 90, 242, 0.12);

    --fill-tertiary: rgba(235, 235, 245, 0.2);

    --background-color: color-mix(
        in srgb,
        rgba(37, 37, 37, 0.9) 90%,
        rgba(124, 124, 124, 1)
    );
    /* --background-color: black; */
    --background-vibrant-color: color-mix(
        in srgb,
        rgba(37, 37, 37, 0.7) 90%,
        rgba(140, 140, 140, 1)
    );
    --background-thin-color: color-mix(
        in srgb,
        rgba(37, 37, 37, 0.55) 90%,
        rgba(156, 156, 156, 1)
    );
    --background-ultrathin-color: color-mix(
        in srgb,
        rgba(37, 37, 37, 0.55) 90%,
        rgba(156, 156, 156, 1)
    );

    --error-color: #ff453a;
    --error-transparent-color: rgba(255, 69, 58, 0.24);

    --border-color: rgb(135, 135, 135, 0.7);
    --border-color-light: rgb(255, 255, 255, 0.6);
    --border-color-vibrant: rgb(135, 135, 135, 0.3);

    --green-color: #30d158;
}

#navbar {
    display: flex;
    align-self: stretch;

    /* text-align: center; */

    padding: 8px 12px;

    /* background-color: rgba(0, 0, 0, 0.3); */
    /* background-blend-mode: multiply; */
    background-color: var(--background-color);
    backdrop-filter: blur(50px);

    /* background-color: grey; */
}

.screen-title {
    font-weight: bold;
    font-size: 18px;
    text-indent: 0.5em;
    text-align: left;
}

#navbar-logo {
    font-weight: bold;
    font-size: 28px;
}

#navbar-actions {
    display: flex;

    /* align-self: flex-end; */
    align-items: center;
    margin-left: auto;
    gap: 8px;
}

#main {
    align-self: stretch;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2em;

    overflow: hidden;
    /* z-index: -1; */
}

.navbar-subpage {
    display: flex;
    flex-direction: column;

    /* flex: 1; */

    background-color: var(--background-color);
    backdrop-filter: blur(50px);

    max-width: 500px;

    padding: 1em;
    border-radius: 1em;

    overflow: hidden;
    /* position: absolute;
    z-index: 9999; */
}

.scrollable {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0 1em;
}

::-webkit-scrollbar {
    /* display: none; */

    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: rgba(37, 37, 37, 0.1);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 255, 255, 0.1);
}
